<footer>
<div class="footer-container">
            <div class="footer-section">
                <h4 style="font-size: 25px; color: rgb(216, 219, 222); display: flex; font-family: cursive; padding: 20px;">
                    Bucket List Tracker
                </h4>
                <h3 style="color:rgb(174, 173, 173);font-family:monospace">Start your journey, and fulfill all your dreams</h3>
            </div>
            <div class="footer-section footer-links" style="color: rgb(216, 216, 198);">
                <h2><b>Links</b></h2>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/profile">Profile</a>
                <a href="/explore">Explore</a>
            </div>
            <div class="footer-section footer-services" style="color: rgb(216, 216, 198);">
                <h2><b>Services</b></h2>
                <h3 style="font-size:medium;padding:5px;">Track your progress</h3>
                <h3 style="font-size:medium;padding:5px;">Experience the experienced one</h3>
                <h3 style="font-size:medium;padding:5px;">Watch your stories</h3>
            </div>
            <div class="footer-section footer-company" style="color: rgb(216, 198, 198);">
                <h2><b>Company</b></h2>
                <h3 style="font-size:medium;padding:5px;">Terms and Conditions</h3>
                <h3 style="font-size:medium;padding:5px;">Privacy Policy</h3>
            </div>
            <div class="footer-section" style="color: rgb(216, 198, 198);">
                <h2>Get in touch</h2>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/priya-sharma-9840a7287/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
         <a href="https://github.com/Priyasharma297" target="_blank">
          <i class="fab fa-github"></i>
        </a>
                    <a href="https://www.instagram.com" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.twitter.com" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
        <hr style="width:1300px;">
        <div class="copyright" style="color: rgb(180, 176, 176);">
            &copy; Bucket List Tracker. All rights reserved.
            <br>
            Designed by Priya Sharma
        </div>
        </footer>