<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BucketList_home</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
body{
  background-color: rgb(253, 253, 247);
}
.buttons .start-btn {
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.8);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.buttons .start-btn:hover {
  background: rgba(0, 0, 0, 1);
}

.buttons .start-btn a {
  color: white;
  text-decoration: none;
}


.text-content {
  max-width: 50%;
}

.text-content h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
}



.start-btn {
  background-color: rgba(43, 43, 43, 0.8);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}






        .collapsible-label {
            background-color: #9b928e;
            color:aliceblue;
            cursor: pointer;
            padding: 10px;
            width: 500px;
            height: 40px;;
            text-align: center;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #ccc;
        }
      
        .collapsible-content {
            max-height: 0;
            overflow: hidden;
            background-color:rgb(206, 203, 203);
            color: black;
            width: 500px;
            transition: max-height 0.2s ease-out;
            padding: 0 10px;
        }
        
        .collapsible-checkbox {
            display: none;
        }
        .collapsible-checkbox:checked + .collapsible-label + .collapsible-content {
            max-height: 100px;
            padding: 10px;
        }
    </style>
</head>
<body class="home">
    <nav>
  <h4 style="font-size: 20px; color: rgb(63, 37, 37); display: flex; font-family: cursive; align-items: center; margin: 0;">
    <img src="uploads/bucket-list.png" style="width: 50px; height: 50px; margin-right: 0;">
    <span style="font-size: 1.7rem; font-weight: bold; background: linear-gradient(90deg, #2b2826, #930303, #014f68); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
      &nbsp;BucketList Tracker
    </span>
  </h4>
  <ul>
    <li><a href="/home" style="color: rgb(113, 112, 112)">Home</a></li>
    <li><a href="/explore">Explore</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
</nav>


   
    <img src="https://followthesisters.com/wp-content/uploads/2015/12/The-ultimate-bucket-list.jpg" style="width:1470px;height: 500px;">
    <center>
        <br>
        <h1><i>Our story....</i></h1>
        <hr style="width: 200px;">
        <div class="story">
            <h5 style="font-size: 20px;color:black"><i>Our journey began with a memorable incident. One day, while engrossed in a lively discussion with cousins about our bucket lists, one of us enthusiastically attempted to share a cherished photo of a place they had visited. Amidst the excitement, locating that particular image from a sea of thousands proved to be a daunting task.
               <br>
               <br>
                Inspired by this challenge, the idea for a Bucket List Tracker was born – a visionary platform aimed at helping individuals meticulously organize and track their aspirations. Whether it's exploring exotic destinations, mastering new skills, or achieving personal milestones, our tracker serves as a digital compass to navigate these dreams into reality.
                <br>
                <br>
                Beyond mere tracking, our platform allows you to immortalize your accomplishments. Upon completing an item on your list, you can effortlessly upload photos, ensuring that every triumph is captured and stored. This feature not only celebrates your successes but also enables you to easily share your journey with friends and family, sparking inspiration and fostering a community of dreamers.
                <br>
                <br>
                At the heart of our website lies a commitment to transforming dreams into tangible achievements, empowering individuals to curate their life's adventures and share their stories with the world. Join us on this transformative journey, where each tick on your bucket list becomes a cherished memory and a testament to the power of dreaming big.</i></h5>
          </div>
          </center>
          <center>
            <br>
            <br>
    <div class="mainb" style="display: flex;padding:60px;column-gap:200px;">
        <div class="maina">
            <img src="https://m.media-amazon.com/images/M/MV5BMTUxMTA3NjIwNF5BMl5BanBnXkFtZTgwMzk0MTYxMzE@._V1_.jpg" style="width:250px;height:250px;">
             <div class="a"style="display: flex;">
                <div><img src="https://t4.ftcdn.net/jpg/03/37/80/11/360_F_337801128_eRzLTu3aDQmhVCP10baZkln7Fr9flp6G.jpg"style="width:80px;height:80px;"></div>
                <div>
                    <h3><i>Grab Your Dream! Set Your Goal!</i></h3>
                    <h4 style="color: rgb(113, 111, 111);">You just go after your wish. As soon as you start to pursue a dream, your life wakes up and everything has meaning.</h4>
                </div>
             </div> 
              <div class="a"style="display: flex;">
                <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkk-wIHpildKy1DeHan4SGDzfLl-eOuEKQSg&s"style="width:80px;height:80px;"></div>
                <div>
                    <h3><i>Power of Two</i></h3>
                    <h4 style="color: rgb(113, 111, 111);">Sharing goals, priorities and dreams with your significant other is not only a great way to build strength in your relationship but it’s also a way to achieve a personal goal you’ve set for yourself.</h4>
                </div>
             </div> 
              <div class="a"style="display: flex;">
                <div><img src="https://thumbs.dreamstime.com/b/super-hero-icon-vector-business-symbol-illustration-superhero-proud-man-pose-brave-person-cape-strong-power-thin-line-316220102.jpg"style="width:80px;height:80px;"></div>
                <div>
                    <h3><i>Be your own hero</i></h3>
                    <h4 style="color: rgb(113, 111, 111);">You can't expect someone else to save you. They can only take you so far. Its up to you to save yourself.</h4>
                </div>
             </div> 
        </div>
        
         <div class="maina">
            <img src="https://www.bucketlist.net/exp_media/site_media/static/bootstrap/img/badges/list.png" style="width:300px;height:250px;">
            <div class="a"style="display: flex;">
                <div><img src="https://static.vecteezy.com/system/resources/thumbnails/006/693/247/small/list-icon-template-black-color-editable-list-icon-symbol-flat-sign-isolated-on-white-background-simple-logo-illustration-for-graphic-and-web-design-free-vector.jpg"style="width:80px;height:80px;"></div>
                <div>
                    <h3><i>Make a BucketList!</i></h3>
                    <h4 style="color: rgb(113, 111, 111);">Life isn’t meant to be lived perfectly…but merely to be lived. Boldly, wildly, beautifully, uncertainly, imperfectly, magically lived ,so..make your own bucket list!</h4>
                </div>
             </div> 
              <div class="a"style="display: flex;">
                <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoFYtFE1S21-Wkq8HsJFicrJ7XKMJXcAJsZw&s"style="width:80px;height:80px;"></div>
                <div>
                    <h3><i>Share with friends</i></h3>
                    <h4 style="color: rgb(113, 111, 111);">share your goals and expectations with your friends to make them help you achieve it, Also share your unbelievable experience with your close ones.</h4>
                </div>
             </div> 
              <div class="a"style="display: flex;">
                <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWSs6g-x8OyMX19RSL0JAoegLFsSfAzI1vLw&s"style="width:80px;height:80px;"></div>
                <div>
                    <h3><i>Live it up!</i></h3>
                    <h4 style="color: rgb(113, 111, 111);">Enjot the jouney, you never know when it eill end.</h4>
                </div>
             </div> 
         </div>
        
          <div class="maina">
             <img src="https://www.bucketlist.net/exp_media/site_media/media/asset/ads/check-off-bucketlist-800x500.png" style="width:300px;height:250px;">
             <div class="a"style="display: flex;">
                <div><img src="https://travel.home.sndimg.com/content/dam/images/travel/fullrights/2016/10/19/CI_TripAdvisor_Vacation_Rentals-Fairbanks-Alaska-Northern-Lights.jpg.rend.hgtvcom.1280.960.suffix/1491593441918.jpeg"style="width:80px;height:80px;"></div>
                <div>
                    <h3><i>See the northern lights</i></h3>
                    <h4 style="color: rgb(113, 111, 111);">Embark on a journey where the Northern Lights guide your way. Seek adventure under the mesmerizing glow of the Aurora.</h4>
                </div>
             </div> 
              <div class="a"style="display: flex;">
                <div><img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/07/29/a3/71.jpg"style="width:80px;height:80px;"></div>
                <div>
                    <h3><i>Go white water rafting</i></h3>
                    <h4 style="color: rgb(113, 111, 111);">The best things in life are the people we love, the places we've been, and the memories we've made along the way. Life is an adventure, and rafting is the perfect way to experience it.</h4>
                </div>
             </div> 
              <div class="a"style="display: flex;">
                <div><img src="https://static.toiimg.com/photo/msid-103122750,width-96,height-65.cms"style="width:80px;height:80px;"></div>
                <div>
                    <h3><i>Fly a hot air balloon</i></h3>
                    <h4 style="color: rgb(113, 111, 111);">Not all who wander are lost, some are just in a balloon so Fuelled by wanderlust and hot air</h4>
                </div>
             </div> 
          </div>
    </div>
    <hr>
    <br>
    <h2 style="font-family:Lucida Sans;color:darkslategray">Want's to fullfill your dreams?</h2>
    <hr style="width: 30%;">
    <h3 style="color: darkgray;">“You are never too old to set a new goal or to dream a new dream.”</h3>
    <div id="collapsible-container">
    <input type="checkbox" id="collapsible1" class="collapsible-checkbox">
    <label for="collapsible1" class="collapsible-label"> Make a bucket list &#9660; </label>
    <div class="collapsible-content">
        <p>Define your dreams as actionable goals and get help from friends and the BucketList community!</p>
    </div>

    <input type="checkbox" id="collapsible2" class="collapsible-checkbox">
    <label for="collapsible2" class="collapsible-label"> Find joy! share your list &#9660;</label>
    <div class="collapsible-content">
        <p>Make a bucket list and share it with your close ones.</p>
    </div>

    <input type="checkbox" id="collapsible3" class="collapsible-checkbox">
    <label for="collapsible3" class="collapsible-label"> Fulfill your dreams &#9660;</label>
    <div class="collapsible-content">
        <p>Fulfill your dreams and share your experience with everyone and enjoy and explore new things in this beautiful world.</p>
    </div>
</div>
<br>
<br>
<br>
<br>
</center>
<div class="card-container">
<div class="card" style="background-color: rgb(250, 250, 230);">
  <div class="text-content">
    <h1>Discover Your Next Adventure</h1>
    <p>
      We're here to let you track your dreams.
    </p>
    <div class="buttons">
      <button class="start-btn"><a href="/explore" style="text-decoration: none;color:white;font-weight:bold;">Start Exploring</a></button>
    </div>
  </div>
  
</div>
<div class="card" style="background-color: rgb(251, 243, 243);">
  <div class="text-content">
    <h1>Make your Bucket List</h1>
    <p>
      create your bucket list, and track all your achievements.
    </p>
    <div class="buttons">
      <button class="start-btn"><a href="/login" style="text-decoration: none;color:white;font-weight:bold;">Create BucketList</a></button>
    </div>
  </div>
  </div>
<div class="card" style="background-color: rgb(249, 244, 249);">
  <div class="text-content">
    <h1>Track your progress</h1>
    <p>
      see how far you have come in your jouney.
    </p>
    <div class="buttons">
      <button class="start-btn"><a href="/login" style="text-decoration: none;color:white;font-weight:bold;">Track your Journey</a></button>
    </div>
  </div>
  </div>
  </div>
    
<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h4 style="font-size: 25px; color: rgb(216, 219, 222); display: flex; font-family: cursive; padding: 20px;">
       BucketList Tracker
      </h4>
      <h3 style="color:rgb(174, 173, 173);font-family:monospace">Start your journey, and fulfill all your dreams</h3>
    </div>
    <div class="footer-section footer-links" style="color: rgb(216, 216, 198);">
      <h2><b>Links</b></h2>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/profile">Profile</a>
      <a href="/explore">Explore</a>
    </div>
    <div class="footer-section footer-services" style="color: rgb(216, 216, 198);">
      <h2><b>Services</b></h2>
      <h3 style="font-size:medium;padding:5px;">Track your progress</h3>
      <h3 style="font-size:medium;padding:5px;">Experience the experienced one</h3>
      <h3 style="font-size:medium;padding:5px;">Watch your stories</h3>
    </div>
    <div class="footer-section footer-company" style="color: rgb(216, 216, 198);">
      <h2><b>Company</b></h2>
      <h3 style="font-size:medium;padding:5px;">Terms and Conditions</h3>
      <h3 style="font-size:medium;padding:5px;">Privacy Policy</h3>
    </div>
    <div class="footer-section" style="color: rgb(216, 216, 198);">
      <h2>Get in touch</h2>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/priya-sharma-9840a7287/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
         <a href="https://github.com/Priyasharma297" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
  <hr style="width:1300px;">
  <div class="copyright" style="color: rgb(180, 176, 176);">
    &copy; Bucket List Tracker. All rights reserved.
    <br>
    Designed by Priya Sharma
  </div>
</footer>

</body>
</html>