<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BucketList_register</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        body {
            background-color: rgb(184, 195, 205);
            background-image: url('https://i.pinimg.com/736x/c5/c8/a1/c5c8a1b87c3fd07644f82d5d70447279.jpg');
            background-position: center;
            background-size: cover;
            background-blend-mode: soft-light;
        }
        .image-container {
            position: relative;
            width: 100%;
            max-width: 500px;
            height: 500px;
        }
        .button-link {
            font-size: 16px;
            color: aliceblue;
            font-size: 20px;
            text-decoration: none;
            border-radius: 4px;
            cursor: pointer;
            text-align: center;
        }
        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(50%);
            border-radius: 8px;
        }
        .image-container .overlay-text {
            position: absolute;
            top: 30%;
            left: 48%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 30px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            text-align: center;
        }
        .marquee {
            width: 1470px;
            background-color: rgba(192, 170, 154, 0.763);
            color: white;
            font-size: 20px;
            padding: 10px 0;
            text-align: center;
            font-family:monospace;
        }
    </style>
    <script>
        function validateForm() {
            var name = document.getElementById('name').value;
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            var passwordConfirmed = document.getElementById('passwordConfirmed').value;

            if (name === '' || email === '' || password === '' || passwordConfirmed === '') {
                alert('Please fill in all fields.');
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
     <nav>
  <h4 style="font-size: 20px; color: rgb(63, 37, 37); display: flex; font-family: cursive; align-items: center; margin: 0;">
    <img src="uploads/bucket-list.png" style="width: 50px; height: 50px; margin-right: 0;">
    <span style="font-size: 1.7rem; font-weight: bold; background: linear-gradient(90deg, #2b2826, #930303, #014f68); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
      &nbsp;BucketList Tracker
    </span>
  </h4>
  <ul>
    <li><a href="/home" >Home</a></li>
    <li><a href="/explore">Explore</a></li>
    <li><a href="/login" >Login</a></li>
    <li><a href="/register" style="color:rgb(113, 112, 112)">Register</a></li>
  </ul>
</nav>
    <div class="marquee">
        <marquee behavior="scroll" direction="left">Welcome to our registration page. Register, so that you can make your bucket list and live that list again and again by just watching your expereineces. Register fast to explore the thrilling experience !!!</marquee>
    </div>
    <center>
        <div class="container" style="display: flex; width: 650px; height: 500px; background-color: lightgrey; box-shadow: 30px; border-radius: 8px; padding: 0px;">
            <div class="cardr" style="padding: 10px;">
                <div class="card-header">
                    <h1><i>Register here!</i></h1>
                </div>
                <div class="card-body">
                    <form onsubmit="return validateForm()" action="/auth/register" method="POST">
                        <div class="form">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form">
                            <label for="email" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="form">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="form">
                            <label for="passwordConfirmed" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="passwordConfirmed" name="passwordConfirmed">
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
            <div class="image-container" style="flex: 1; display: flex; justify-content: center; align-items: center;">
                <img src="https://w0.peakpx.com/wallpaper/93/106/HD-wallpaper-map-and-coffee-travel-thumbnail.jpg" alt="Bucket List Image" style="width: 300px; height: 500px; border-radius: 8px;">
                <div class="overlay-text" style="font-family: monospace; top: 45%;">Let's start your journey!!</div>
            </div>
        </div>
        {{#if message}}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
    </center>
    <div style="color: rgb(3, 6, 9); opacity: 60%; text-align: center; padding: 10px;">
        <footer>Copyright &#169; Designed by Priya Sharma</footer>
    </div>
</body>
</html>
