body {
    background-color: rgb(207, 215, 223);
    background-image: url('https://i.pinimg.com/736x/c5/c8/a1/c5c8a1b87c3fd07644f82d5d70447279.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}
nav h4 {
    font-size: 20px;
    color: rgb(63, 37, 37);
    display: flex;
    font-family: cursive;
    align-items: center;
    margin: 0;
}

nav h4 span {
    font-size: 1.7rem;
    font-weight: bold;
    background: linear-gradient(90deg, #2b2826, #930303, #014f68);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.container {
background: #ffffff;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
border-radius: 8px;
width: 90%;
max-width: 600px;
padding: 2rem;
text-align: center;
}

h1 {
font-size: 2rem;
color: #181818;
margin-bottom: 1.5rem;
}

form {
display: flex;
flex-direction: column;
}

.form-group {
margin-bottom: 1rem;
text-align: left;
}

label {
font-size: 1rem;
color: #555;
margin-bottom: 0.5rem;
display: inline-block;
}

input {
width: 100%;
padding: 0.8rem;
border: 1px solid #ccc;
border-radius: 4px;
font-size: 1rem;
}

input:focus {
border-color: #1e90ff;
outline: none;
box-shadow: 0 0 5px rgba(28, 28, 28, 0.5);
}

button {
background-color: #141414;
color: #ffffff;
border: none;
border-radius: 4px;
padding: 0.8rem;
font-size: 1rem;
cursor: pointer;
transition: background-color 0.3s ease;
}

button:hover {
background-color: #030303;
}

.error {
color: rgb(10, 10, 10);
font-size: 0.9rem;
margin-top: 1rem;
}

h2 {
margin-top: 2rem;
font-size: 1.5rem;
color: #333;
}

.itinerary-details {
background-color: #f4f4f4;
padding: 1rem;
border-radius: 6px;
margin-top: 1rem;
text-align: left;
}

.itinerary-item {
font-size: 1rem;
line-height: 1.5;
margin-bottom: 1rem;
}

.itinerary-item span {
font-weight: bold;
color: #280808;
}

.itinerary-item ul {
list-style-type: square;
padding-left: 20px;
}

.itinerary-item li {
font-size: 0.95rem;
}
@media screen and (max-width: 768px) {
    nav {
        font-size: 16px;
        padding: 5px 5px;
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        padding: 1px;
    }
    .btu{
        width: 70%;
    }
    .container{
        width: 70%;
        margin-left: 2px;
    }
}
@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
   
    nav h4 {
        font-size: 18px;
    }
    
    nav h4 span {
        font-size: 1.5rem;
    }
    .btu{
        width: 70%;
    }
    
}